* text=auto !eol
bin/js32.dll -text
bin/js32D.dll -text
data/scripts/house.js -text svneol=native#unset
data/scripts/keys.js -text svneol=native#unset
data/scripts/q3dm1.js -text svneol=native#unset
data/scripts/q3dm13.js -text svneol=native#unset
data/scripts/q3dm14.js -text svneol=native#unset
data/textures/shader_map.txt -text svneol=native#unset
data/textures/shaders/add_blend.shader -text svneol=native#unset
data/textures/shaders/alphatest08.shader -text svneol=native#unset
data/textures/shaders/console.shader -text svneol=native#unset
data/textures/shaders/fanfx.shader -text svneol=native#unset
data/textures/shaders/fire1.shader -text svneol=native#unset
data/textures/shaders/fire_green.shader -text svneol=native#unset
data/textures/shaders/flare_billboard.shader -text svneol=native#unset
data/textures/shaders/glass.shader -text svneol=native#unset
data/textures/shaders/lightbeam.shader -text svneol=native#unset
data/textures/shaders/nodraw.shader -text svneol=native#unset
data/textures/shaders/sky.shader -text svneol=native#unset
data/textures/shaders/static.shader -text svneol=native#unset
data/textures/texture_alias.txt -text svneol=native#unset
/eXistenZ[!!-~]Engine.sln -text svneol=native#unset
/eXistenZ[!!-~]Engine.suo -text
engine/client.vcproj -text svneol=native#unset
engine/client/appwindow.cpp -text svneol=native#unset
engine/client/appwindow.h -text svneol=native#unset
engine/client/main.cpp -text svneol=native#unset
engine/client/main.h -text svneol=native#unset
engine/client/precompiled.cpp -text svneol=native#unset
engine/client/precompiled.h -text svneol=native#unset
engine/common/common.cpp -text svneol=native#unset
engine/common/common.h -text svneol=native#unset
engine/console/console.cpp -text svneol=native#unset
engine/console/console.h -text svneol=native#unset
engine/console/jsconsole.cpp -text svneol=native#unset
engine/console/jsconsole.h -text svneol=native#unset
engine/game/game.cpp -text svneol=native#unset
engine/game/game.h -text svneol=native#unset
engine/game/jsgame.cpp -text svneol=native#unset
engine/game/jsgame.h -text svneol=native#unset
engine/game/player.cpp -text svneol=native#unset
engine/game/player.h -text svneol=native#unset
engine/input/bind.cpp -text svneol=native#unset
engine/input/bind.h -text svneol=native#unset
engine/input/input.cpp -text svneol=native#unset
engine/input/input.h -text svneol=native#unset
engine/input/jsinput.cpp -text svneol=native#unset
engine/input/jsinput.h -text svneol=native#unset
engine/input/keys.h -text svneol=native#unset
engine/interface/fps.cpp -text svneol=native#unset
engine/interface/fps.h -text svneol=native#unset
engine/interface/interface.cpp -text svneol=native#unset
engine/interface/interface.h -text svneol=native#unset
engine/interface/pos.cpp -text svneol=native#unset
engine/interface/pos.h -text svneol=native#unset
engine/interface/uiconsole.cpp -text svneol=native#unset
engine/interface/uiconsole.h -text svneol=native#unset
engine/math/aabb.cpp -text svneol=native#unset
engine/math/aabb.h -text svneol=native#unset
engine/math/vertex.h -text svneol=native#unset
engine/mesh/mesh.cpp -text svneol=native#unset
engine/mesh/mesh.h -text svneol=native#unset
engine/mesh/meshcache.cpp -text svneol=native#unset
engine/mesh/meshcache.h -text svneol=native#unset
engine/mesh/meshload.cpp -text svneol=native#unset
engine/mesh/meshload.h -text svneol=native#unset
engine/mesh/meshsystem.cpp -text svneol=native#unset
engine/mesh/meshsystem.h -text svneol=native#unset
engine/mesh/meshsystemcache.cpp -text svneol=native#unset
engine/mesh/meshsystemcache.h -text svneol=native#unset
engine/mesh/textloader.cpp -text svneol=native#unset
engine/mesh/textloader.h -text svneol=native#unset
engine/platform/types.h -text svneol=native#unset
engine/q3bsp/bleh.cpp -text svneol=native#unset
engine/q3bsp/bleh.h -text svneol=native#unset
engine/q3bsp/bsp.cpp -text svneol=native#unset
engine/q3bsp/bsp.cpp.bak -text svneol=native#unset
engine/q3bsp/bsp.h -text svneol=native#unset
engine/q3bsp/bsp.h.bak -text svneol=native#unset
engine/q3bsp/bspcache.cpp -text svneol=native#unset
engine/q3bsp/bspcache.h -text svneol=native#unset
engine/q3bsp/bspcollide.cpp -text svneol=native#unset
engine/q3bsp/bspcollide.h -text svneol=native#unset
engine/q3bsp/bspconvert.cpp -text svneol=native#unset
engine/q3bsp/bspconvert.h -text svneol=native#unset
engine/q3bsp/bspload.cpp -text svneol=native#unset
engine/q3bsp/bsppatch.cpp -text svneol=native#unset
engine/q3bsp/bsppatch.h -text svneol=native#unset
engine/q3bsp/bsprender.cpp -text svneol=native#unset
engine/q3bsp/bsprender.h -text svneol=native#unset
engine/q3bsp/patch.cpp -text svneol=native#unset
engine/q3bsp/patch.h -text svneol=native#unset
engine/q3bsp/q3bsptypes.h -text svneol=native#unset
engine/q3bsp/rendertest.cpp -text svneol=native#unset
engine/q3shader/q3shader.cpp -text svneol=native#unset
engine/q3shader/q3shader.h -text svneol=native#unset
engine/q3shader/q3shadercache.cpp -text svneol=native#unset
engine/q3shader/q3shadercache.h -text svneol=native#unset
engine/render/d3dfont.cpp -text svneol=native#unset
engine/render/d3dfont.h -text svneol=native#unset
engine/render/dx.cpp -text svneol=native#unset
engine/render/dx.h -text svneol=native#unset
engine/render/frustrum.cpp -text svneol=native#unset
engine/render/frustrum.h -text svneol=native#unset
engine/render/hwbuffer.cpp -text svneol=native#unset
engine/render/hwbuffer.h -text svneol=native#unset
engine/render/marker.cpp -text svneol=native#unset
engine/render/marker.h -text svneol=native#unset
engine/render/mesh.cpp -text svneol=native#unset
engine/render/old_frustrum.cpp -text svneol=native#unset
engine/render/old_frustrum.h -text svneol=native#unset
engine/render/render.cpp -text svneol=native#unset
engine/render/render.h -text svneol=native#unset
engine/render/rendergroup.cpp -text svneol=native#unset
engine/render/rendergroup.h -text svneol=native#unset
engine/render/scenegraph.cpp -text svneol=native#unset
engine/render/scenegraph.h -text svneol=native#unset
engine/render/scenenode.cpp -text svneol=native#unset
engine/render/shapes.cpp -text svneol=native#unset
engine/render/shapes.h -text svneol=native#unset
engine/scene/scene.cpp -text svneol=native#unset
engine/scene/scene.h -text svneol=native#unset
engine/scene/scenebsp.cpp -text svneol=native#unset
engine/scene/scenebsp.h -text svneol=native#unset
engine/script/jsscript.cpp -text svneol=native#unset
engine/script/jsscript.h -text svneol=native#unset
engine/script/script.cpp -text svneol=native#unset
engine/script/script.h -text svneol=native#unset
engine/settings/jssettings.cpp -text svneol=native#unset
engine/settings/jssettings.h -text svneol=native#unset
engine/settings/settings.cpp -text svneol=native#unset
engine/settings/settings.h -text svneol=native#unset
engine/shader/shader.cpp -text svneol=native#unset
engine/shader/shader.h -text svneol=native#unset
engine/shader/shadercache.cpp -text svneol=native#unset
engine/shader/shadercache.h -text svneol=native#unset
engine/shader/simpleshader/simpleshader.cpp -text svneol=native#unset
engine/shader/simpleshader/simpleshader.h -text svneol=native#unset
engine/shader/stdshader/pass.cpp -text svneol=native#unset
engine/shader/stdshader/shader.cpp -text svneol=native#unset
engine/shader/stdshader/shader.h -text svneol=native#unset
engine/skybox/jsskybox.cpp -text svneol=native#unset
engine/skybox/jsskybox.h -text svneol=native#unset
engine/skybox/skybox.cpp -text svneol=native#unset
engine/skybox/skybox.h -text svneol=native#unset
engine/texture/jstexture.cpp -text svneol=native#unset
engine/texture/jstexture.h -text svneol=native#unset
engine/texture/shader.cpp -text svneol=native#unset
engine/texture/shader.h -text svneol=native#unset
engine/texture/texture.cpp -text svneol=native#unset
engine/texture/texture.h -text svneol=native#unset
engine/texture/texturecache.cpp -text svneol=native#unset
engine/texture/texturecache.h -text svneol=native#unset
engine/timer/timer.cpp -text svneol=native#unset
engine/timer/timer.h -text svneol=native#unset
engine/vfs/file.cpp -text svneol=native#unset
engine/vfs/file.h -text svneol=native#unset
engine/vfs/vfs.cpp -text svneol=native#unset
engine/vfs/vfs.h -text svneol=native#unset
lib/NvTriStrip/debug/NvTriStrip.lib -text
lib/NvTriStrip/include/NvTriStrip.h -text svneol=native#unset
lib/NvTriStrip/release/NvTriStrip.lib -text
lib/buildnum.lib -text
lib/js/debug/fdlibm.lib -text
lib/js/debug/js32.exp -text
lib/js/debug/js32.lib -text
lib/js/debug/js32.pdb -text
lib/js/debug/js32D.dll -text
lib/js/debug/js32D.ilk -text
lib/js/release/js32.dll -text
lib/js/release/js32.exp -text
lib/js/release/js32.lib -text
lib/opcode/debug/Opcode.lib -text
lib/opcode/include/OPC_AABBCollider.h -text svneol=native#unset
lib/opcode/include/OPC_AABBTree.h -text svneol=native#unset
lib/opcode/include/OPC_BaseModel.h -text svneol=native#unset
lib/opcode/include/OPC_BoxBoxOverlap.h -text svneol=native#unset
lib/opcode/include/OPC_BoxPruning.h -text svneol=native#unset
lib/opcode/include/OPC_Collider.h -text svneol=native#unset
lib/opcode/include/OPC_Common.h -text svneol=native#unset
lib/opcode/include/OPC_HybridModel.h -text svneol=native#unset
lib/opcode/include/OPC_IceHook.h -text svneol=native#unset
lib/opcode/include/OPC_LSSAABBOverlap.h -text svneol=native#unset
lib/opcode/include/OPC_LSSCollider.h -text svneol=native#unset
lib/opcode/include/OPC_LSSTriOverlap.h -text svneol=native#unset
lib/opcode/include/OPC_MeshInterface.h -text svneol=native#unset
lib/opcode/include/OPC_Model.h -text svneol=native#unset
lib/opcode/include/OPC_OBBCollider.h -text svneol=native#unset
lib/opcode/include/OPC_OptimizedTree.h -text svneol=native#unset
lib/opcode/include/OPC_Picking.h -text svneol=native#unset
lib/opcode/include/OPC_PlanesAABBOverlap.h -text svneol=native#unset
lib/opcode/include/OPC_PlanesCollider.h -text svneol=native#unset
lib/opcode/include/OPC_PlanesTriOverlap.h -text svneol=native#unset
lib/opcode/include/OPC_RayAABBOverlap.h -text svneol=native#unset
lib/opcode/include/OPC_RayCollider.h -text svneol=native#unset
lib/opcode/include/OPC_RayTriOverlap.h -text svneol=native#unset
lib/opcode/include/OPC_Settings.h -text svneol=native#unset
lib/opcode/include/OPC_SphereAABBOverlap.h -text svneol=native#unset
lib/opcode/include/OPC_SphereCollider.h -text svneol=native#unset
lib/opcode/include/OPC_SphereTriOverlap.h -text svneol=native#unset
lib/opcode/include/OPC_SweepAndPrune.h -text svneol=native#unset
lib/opcode/include/OPC_TreeBuilders.h -text svneol=native#unset
lib/opcode/include/OPC_TreeCollider.h -text svneol=native#unset
lib/opcode/include/OPC_TriBoxOverlap.h -text svneol=native#unset
lib/opcode/include/OPC_TriTriOverlap.h -text svneol=native#unset
lib/opcode/include/OPC_VolumeCollider.h -text svneol=native#unset
lib/opcode/include/Opcode.h -text svneol=native#unset
lib/opcode/release/Opcode.lib -text
tools/buildnuminc.exe -text
tools/compile.rsp -text svneol=native#unset
tools/link.rsp -text svneol=native#unset
tools/maya_export/exportStatic.cpp -text svneol=native#unset
tools/maya_export/exportStatic.h -text svneol=native#unset
tools/maya_export/export_dialog.cpp -text svneol=native#unset
tools/maya_export/export_dialog.h -text svneol=native#unset
tools/maya_export/export_options.cpp -text svneol=native#unset
tools/maya_export/export_options.h -text svneol=native#unset
tools/maya_export/maya_export.cpp -text svneol=native#unset
tools/maya_export/maya_export.h -text svneol=native#unset
tools/maya_export/maya_export.vcproj -text svneol=native#unset
tools/maya_export/resource.h -text svneol=native#unset
tools/maya_export/resources.aps -text
tools/maya_export/resources.rc -text svneol=native#unset
tools/maya_export/scandag.cpp -text svneol=native#unset
tools/maya_export/scandag.h -text svneol=native#unset
tools/maya_export/stdafx.cpp -text svneol=native#unset
tools/maya_export/stdafx.h -text svneol=native#unset
tools/opt.rsp -text svneol=native#unset
