* text=auto !eol
bin/config.js eol=crlf
crimson/eXistenZ.prj -text
data/scripts/house.js eol=crlf
data/scripts/keys.js eol=crlf
data/scripts/q3dm1.js eol=crlf
data/scripts/q3dm13.js eol=crlf
data/scripts/q3dm14.js eol=crlf
data/scripts/shoot.js -text
data/scripts/stacks.js -text
data/textures/shader_alias.txt eol=crlf
data/textures/shader_map.txt eol=crlf
data/textures/shaders/add_blend.shader eol=crlf
data/textures/shaders/alphatest08.shader eol=crlf
data/textures/shaders/console.shader eol=crlf
data/textures/shaders/fanfx.shader eol=crlf
data/textures/shaders/fire1.shader eol=crlf
data/textures/shaders/fire_green.shader eol=crlf
data/textures/shaders/flare_billboard.shader eol=crlf
data/textures/shaders/glass.shader eol=crlf
data/textures/shaders/lava1.shader eol=crlf
data/textures/shaders/lightbeam.shader eol=crlf
data/textures/shaders/nodraw.shader eol=crlf
data/textures/shaders/sky.shader eol=crlf
data/textures/shaders/static.shader eol=crlf
data/textures/texture_alias.txt eol=crlf
engine/client/appwindow.cpp eol=crlf
engine/client/appwindow.h eol=crlf
engine/client/main.cpp eol=crlf
engine/client/main.h eol=crlf
engine/client/precompiled.cpp eol=crlf
engine/client/precompiled.h eol=crlf
engine/common/log.cpp -text
engine/common/log.h -text
engine/common/mystring.cpp eol=crlf
engine/common/mystring.h eol=crlf
engine/common/registeredfunctions.cpp -text
engine/common/registeredfunctions.h -text
engine/common/smart_cptr.h eol=crlf
engine/common/smart_ptr.h eol=crlf
engine/common/types.h -text
engine/common/utfstring.cpp -text
engine/common/utfstring.h -text
engine/console/console.cpp eol=crlf
engine/console/console.h eol=crlf
engine/console/jsconsole.cpp eol=crlf
engine/console/jsconsole.h eol=crlf
engine/entity/boxentity.cpp -text
engine/entity/boxentity.h -text
engine/entity/entity.cpp eol=crlf
engine/entity/entity.h eol=crlf
engine/entity/entitycache.cpp eol=crlf
engine/entity/entitycache.h eol=crlf
engine/entity/jsentity.cpp eol=crlf
engine/entity/jsentity.h eol=crlf
engine/entity/sphereentity.cpp -text
engine/entity/sphereentity.h -text
engine/entity/staticentity.cpp eol=crlf
engine/game/bspplayer.cpp eol=crlf
engine/game/bspplayer.h -text
engine/game/game.cpp eol=crlf
engine/game/game.h eol=crlf
engine/game/jsgame.cpp eol=crlf
engine/game/jsgame.h eol=crlf
engine/game/jsplayer.cpp -text
engine/game/jsplayer.h -text
engine/game/physxplayer.cpp -text
engine/game/physxplayer.h -text
engine/game/player.cpp -text
engine/game/player.h eol=crlf
engine/input/bind.cpp eol=crlf
engine/input/bind.h eol=crlf
engine/input/input.cpp eol=crlf
engine/input/input.h eol=crlf
engine/input/jsinput.cpp eol=crlf
engine/input/jsinput.h eol=crlf
engine/input/keys.h eol=crlf
engine/interface/fps.cpp eol=crlf
engine/interface/fps.h eol=crlf
engine/interface/interface.cpp eol=crlf
engine/interface/interface.h eol=crlf
engine/interface/pos.cpp eol=crlf
engine/interface/pos.h eol=crlf
engine/interface/uiconsole.cpp eol=crlf
engine/interface/uiconsole.h eol=crlf
engine/math/aabb.cpp eol=crlf
engine/math/aabb.h eol=crlf
engine/math/math.cpp -text
engine/math/math.h eol=crlf
engine/math/vertex.h eol=crlf
engine/mesh/mesh.cpp eol=crlf
engine/mesh/mesh.h eol=crlf
engine/mesh/meshcache.cpp eol=crlf
engine/mesh/meshcache.h eol=crlf
engine/mesh/meshload.cpp eol=crlf
engine/mesh/meshload.h eol=crlf
engine/mesh/meshsystem.cpp eol=crlf
engine/mesh/meshsystem.h eol=crlf
engine/mesh/meshsystemcache.cpp eol=crlf
engine/mesh/meshsystemcache.h eol=crlf
engine/mesh/textloader.cpp eol=crlf
engine/mesh/textloader.h eol=crlf
engine/misc/alias.cpp -text
engine/misc/alias.h -text
engine/physics/meshdesc.cpp -text
engine/physics/meshdesc.h -text
engine/physics/meshdescimpl.h -text
engine/physics/physics.cpp -text
engine/physics/physics.h -text
engine/physics/stream.cpp -text
engine/physics/stream.h -text
engine/q3bsp/bleh.cpp eol=crlf
engine/q3bsp/bleh.h eol=crlf
engine/q3bsp/bsp.cpp eol=crlf
engine/q3bsp/bsp.cpp.bak eol=crlf
engine/q3bsp/bsp.h eol=crlf
engine/q3bsp/bsp.h.bak eol=crlf
engine/q3bsp/bspcache.cpp eol=crlf
engine/q3bsp/bspcache.h eol=crlf
engine/q3bsp/bspcollide.cpp eol=crlf
engine/q3bsp/bspcollide.h eol=crlf
engine/q3bsp/bspconvert.cpp eol=crlf
engine/q3bsp/bspconvert.h eol=crlf
engine/q3bsp/bspload.cpp eol=crlf
engine/q3bsp/bspload.h eol=crlf
engine/q3bsp/bsppatch.cpp eol=crlf
engine/q3bsp/bsppatch.h eol=crlf
engine/q3bsp/bsprender.cpp eol=crlf
engine/q3bsp/bsprender.h eol=crlf
engine/q3bsp/patch.cpp eol=crlf
engine/q3bsp/patch.h eol=crlf
engine/q3bsp/q3bsptypes.h eol=crlf
engine/q3bsp/rendertest.cpp eol=crlf
engine/q3shader/q3shader.cpp eol=crlf
engine/q3shader/q3shader.h eol=crlf
engine/q3shader/q3shadercache.cpp eol=crlf
engine/q3shader/q3shadercache.h eol=crlf
engine/render/dx.cpp eol=crlf
engine/render/dx.h eol=crlf
engine/render/font.cpp eol=crlf
engine/render/font.h eol=crlf
engine/render/frustrum.cpp eol=crlf
engine/render/frustrum.h eol=crlf
engine/render/hwbuffer.cpp eol=crlf
engine/render/hwbuffer.h eol=crlf
engine/render/jsrender.cpp -text
engine/render/jsrender.h -text
engine/render/marker.cpp eol=crlf
engine/render/marker.h eol=crlf
engine/render/mesh.cpp eol=crlf
engine/render/meshoptimize.cpp eol=crlf
engine/render/meshoptimize.h eol=crlf
engine/render/old_frustrum.cpp eol=crlf
engine/render/old_frustrum.h eol=crlf
engine/render/render.cpp eol=crlf
engine/render/render.h eol=crlf
engine/render/rendergroup.cpp eol=crlf
engine/render/rendergroup.h eol=crlf
engine/render/scenegraph.cpp eol=crlf
engine/render/scenegraph.h eol=crlf
engine/render/scenenode.cpp eol=crlf
engine/render/shapes.cpp eol=crlf
engine/render/shapes.h eol=crlf
engine/resource/luxicon.ico -text
engine/resource/luxiconD.ico -text
engine/resource/resource.h eol=crlf
engine/scene/jsscene.cpp eol=crlf
engine/scene/jsscene.h eol=crlf
engine/scene/scene.cpp eol=crlf
engine/scene/scene.h eol=crlf
engine/scene/scenebsp.cpp eol=crlf
engine/scene/scenebsp.h eol=crlf
engine/scene/sceneportal.cpp eol=crlf
engine/scene/sceneportal.h eol=crlf
engine/scene/scenetree.cpp eol=crlf
engine/scene/scenetree.h eol=crlf
engine/script/JSArgumentList.cpp -text
engine/script/JSArgumentList.h -text
engine/script/jsfunction.h -text
engine/script/jsfunctioncall.h -text
engine/script/jsscript.cpp eol=crlf
engine/script/jsscript.h eol=crlf
engine/script/jsvector.cpp -text
engine/script/jsvector.h -text
engine/script/script.cpp eol=crlf
engine/script/script.h eol=crlf
engine/settings/jssettings.cpp eol=crlf
engine/settings/jssettings.h eol=crlf
engine/settings/settings.cpp eol=crlf
engine/settings/settings.h eol=crlf
engine/shader/shader.cpp eol=crlf
engine/shader/shader.h eol=crlf
engine/shader/shadercache.cpp eol=crlf
engine/shader/shadercache.h eol=crlf
engine/shader/simpleshader/simpleshader.cpp eol=crlf
engine/shader/simpleshader/simpleshader.h eol=crlf
engine/shader/stdshader/pass.cpp eol=crlf
engine/shader/stdshader/pass.h eol=crlf
engine/shader/stdshader/shader.cpp eol=crlf
engine/shader/stdshader/shader.h eol=crlf
engine/skybox/jsskybox.cpp eol=crlf
engine/skybox/jsskybox.h eol=crlf
engine/skybox/skybox.cpp eol=crlf
engine/skybox/skybox.h eol=crlf
engine/texture/jstexture.cpp eol=crlf
engine/texture/jstexture.h eol=crlf
engine/texture/material.cpp -text
engine/texture/material.h -text
engine/texture/shader.cpp eol=crlf
engine/texture/shader.h eol=crlf
engine/texture/texture.cpp eol=crlf
engine/texture/texture.h eol=crlf
engine/texture/texturecache.cpp eol=crlf
engine/texture/texturecache.h eol=crlf
engine/timer/jstimers.cpp -text
engine/timer/jstimers.h -text
engine/timer/timer.cpp eol=crlf
engine/timer/timer.h eol=crlf
engine/timer/timers.cpp -text
engine/timer/timers.h -text
engine/vfs/diskfile.cpp eol=crlf
engine/vfs/diskfile.h eol=crlf
engine/vfs/diskpath.cpp eol=crlf
engine/vfs/diskpath.h eol=crlf
engine/vfs/file.cpp eol=crlf
engine/vfs/file.h eol=crlf
engine/vfs/jsvfs.cpp eol=crlf
engine/vfs/jsvfs.h eol=crlf
engine/vfs/path.cpp eol=crlf
engine/vfs/path.h eol=crlf
engine/vfs/vfs.cpp eol=crlf
engine/vfs/vfs.h eol=crlf
engine/vfs/watchfile.cpp -text
engine/vfs/watchfile.h -text
engine/vfs/zipfile.cpp eol=crlf
engine/vfs/zipfile.h eol=crlf
engine/vfs/zippath.cpp eol=crlf
engine/vfs/zippath.h eol=crlf
vc8/client.vcproj eol=crlf
vc8/eXistenZ[!!-~]Engine.sln eol=crlf
