/*.ncb
bin/*.DPbcd
bin/*.NLB
bin/*.dpprf
bin/*.exe
bin/*.exp
bin/*.idb
bin/*.ilk
bin/*.lib
bin/*.mll
bin/*.obj
bin/*.pcc
bin/*.pch
bin/*.pdb
bin/BuildLog.htm
bin/engine_debug
bin/engine_release
bin/maya_debug
bin/maya_release
data/*
data/textures/*
/eXistenZ[!!-~]Engine.ncb
vc7/*.ncb
vc7/*.suo
