/*.ncb
bin/*.DPRul
bin/*.DPSup
bin/*.DPbcd
bin/*.NLB
bin/*.dll
bin/*.dpprf
bin/*.exe
bin/*.exp
bin/*.idb
bin/*.ilk
bin/*.lib
bin/*.mll
bin/*.obj
bin/*.pcc
bin/*.pch
bin/*.pdb
bin/*.pgc
bin/*.pgd
bin/*.png
bin/*.suo
bin/BuildLog.htm
bin/cooked
bin/cooked/*.physx
bin/engine_debug
bin/engine_release
bin/js32_debug
bin/js32_release
bin/maya_debug
bin/maya_release
data/*
data/textures/*
/eXistenZ[!!-~]Engine.ncb
vc10/*.ReSharper.*
vc10/*.ncb
vc10/*.opensdf
vc10/*.sdf
vc10/*.suo
vc10/Debug
vc10/Release
vc10/_ReSharper.eXistenZ[!!-~]Engine
vc10/ipch
vc8/*.ncb
vc8/*.suo
vc8/*.user
vc9/*.JPG
vc9/*.bmp
vc9/*.dat
vc9/*.ncb
vc9/*.png
vc9/*.psess
vc9/*.suo
vc9/*.user
vc9/*.vcproj.*
vc9/*.vsp
vc9/Debug
vc9/Release
vc9/_ReSharper.eXistenZ[!!-~]Engine
vc9/debug
vc9/release
