* text=auto !eol
bin/config.js eol=crlf
bin/js32.dll -text
bin/js32D.dll -text
data/scripts/house.js eol=crlf
data/scripts/keys.js eol=crlf
data/scripts/q3dm1.js eol=crlf
data/scripts/q3dm13.js eol=crlf
data/scripts/q3dm14.js eol=crlf
data/textures/shader_alias.txt eol=crlf
data/textures/shader_map.txt eol=crlf
data/textures/shaders/add_blend.shader eol=crlf
data/textures/shaders/alphatest08.shader eol=crlf
data/textures/shaders/console.shader eol=crlf
data/textures/shaders/fanfx.shader eol=crlf
data/textures/shaders/fire1.shader eol=crlf
data/textures/shaders/fire_green.shader eol=crlf
data/textures/shaders/flare_billboard.shader eol=crlf
data/textures/shaders/glass.shader eol=crlf
data/textures/shaders/lava1.shader eol=crlf
data/textures/shaders/lightbeam.shader eol=crlf
data/textures/shaders/nodraw.shader eol=crlf
data/textures/shaders/sky.shader eol=crlf
data/textures/shaders/static.shader eol=crlf
data/textures/texture_alias.txt eol=crlf
engine/client/appwindow.cpp eol=crlf
engine/client/appwindow.h eol=crlf
engine/client/main.cpp eol=crlf
engine/client/main.h eol=crlf
engine/client/precompiled.cpp eol=crlf
engine/client/precompiled.h eol=crlf
engine/common/common.cpp eol=crlf
engine/common/common.h eol=crlf
engine/common/mystring.cpp eol=crlf
engine/common/mystring.h eol=crlf
engine/common/smart_cptr.h eol=crlf
engine/common/smart_ptr.h eol=crlf
engine/console/console.cpp eol=crlf
engine/console/console.h eol=crlf
engine/console/jsconsole.cpp eol=crlf
engine/console/jsconsole.h eol=crlf
engine/entity/entity.cpp eol=crlf
engine/entity/entity.h eol=crlf
engine/entity/entitycache.cpp eol=crlf
engine/entity/entitycache.h eol=crlf
engine/entity/jsentity.cpp eol=crlf
engine/entity/jsentity.h eol=crlf
engine/entity/staticentity.cpp eol=crlf
engine/game/game.cpp eol=crlf
engine/game/game.h eol=crlf
engine/game/jsgame.cpp eol=crlf
engine/game/jsgame.h eol=crlf
engine/game/player.cpp eol=crlf
engine/game/player.h eol=crlf
engine/input/bind.cpp eol=crlf
engine/input/bind.h eol=crlf
engine/input/input.cpp eol=crlf
engine/input/input.h eol=crlf
engine/input/jsinput.cpp eol=crlf
engine/input/jsinput.h eol=crlf
engine/input/keys.h eol=crlf
engine/interface/fps.cpp eol=crlf
engine/interface/fps.h eol=crlf
engine/interface/interface.cpp eol=crlf
engine/interface/interface.h eol=crlf
engine/interface/pos.cpp eol=crlf
engine/interface/pos.h eol=crlf
engine/interface/uiconsole.cpp eol=crlf
engine/interface/uiconsole.h eol=crlf
engine/math/aabb.cpp eol=crlf
engine/math/aabb.h eol=crlf
engine/math/math.h eol=crlf
engine/math/vertex.h eol=crlf
engine/mesh/mesh.cpp eol=crlf
engine/mesh/mesh.h eol=crlf
engine/mesh/meshcache.cpp eol=crlf
engine/mesh/meshcache.h eol=crlf
engine/mesh/meshload.cpp eol=crlf
engine/mesh/meshload.h eol=crlf
engine/mesh/meshsystem.cpp eol=crlf
engine/mesh/meshsystem.h eol=crlf
engine/mesh/meshsystemcache.cpp eol=crlf
engine/mesh/meshsystemcache.h eol=crlf
engine/mesh/textloader.cpp eol=crlf
engine/mesh/textloader.h eol=crlf
engine/physics/physics.cpp -text
engine/physics/physics.h -text
engine/platform/types.h eol=crlf
engine/q3bsp/bleh.cpp eol=crlf
engine/q3bsp/bleh.h eol=crlf
engine/q3bsp/bsp.cpp eol=crlf
engine/q3bsp/bsp.cpp.bak eol=crlf
engine/q3bsp/bsp.h eol=crlf
engine/q3bsp/bsp.h.bak eol=crlf
engine/q3bsp/bspcache.cpp eol=crlf
engine/q3bsp/bspcache.h eol=crlf
engine/q3bsp/bspcollide.cpp eol=crlf
engine/q3bsp/bspcollide.h eol=crlf
engine/q3bsp/bspconvert.cpp eol=crlf
engine/q3bsp/bspconvert.h eol=crlf
engine/q3bsp/bspload.cpp eol=crlf
engine/q3bsp/bspload.h eol=crlf
engine/q3bsp/bsppatch.cpp eol=crlf
engine/q3bsp/bsppatch.h eol=crlf
engine/q3bsp/bsprender.cpp eol=crlf
engine/q3bsp/bsprender.h eol=crlf
engine/q3bsp/patch.cpp eol=crlf
engine/q3bsp/patch.h eol=crlf
engine/q3bsp/q3bsptypes.h eol=crlf
engine/q3bsp/rendertest.cpp eol=crlf
engine/q3shader/q3shader.cpp eol=crlf
engine/q3shader/q3shader.h eol=crlf
engine/q3shader/q3shadercache.cpp eol=crlf
engine/q3shader/q3shadercache.h eol=crlf
engine/render/d3dfont.cpp eol=crlf
engine/render/d3dfont.h eol=crlf
engine/render/dx.cpp eol=crlf
engine/render/dx.h eol=crlf
engine/render/frustrum.cpp eol=crlf
engine/render/frustrum.h eol=crlf
engine/render/hwbuffer.cpp eol=crlf
engine/render/hwbuffer.h eol=crlf
engine/render/marker.cpp eol=crlf
engine/render/marker.h eol=crlf
engine/render/mesh.cpp eol=crlf
engine/render/meshoptimize.cpp eol=crlf
engine/render/meshoptimize.h eol=crlf
engine/render/old_frustrum.cpp eol=crlf
engine/render/old_frustrum.h eol=crlf
engine/render/render.cpp eol=crlf
engine/render/render.h eol=crlf
engine/render/rendergroup.cpp eol=crlf
engine/render/rendergroup.h eol=crlf
engine/render/scenegraph.cpp eol=crlf
engine/render/scenegraph.h eol=crlf
engine/render/scenenode.cpp eol=crlf
engine/render/shapes.cpp eol=crlf
engine/render/shapes.h eol=crlf
engine/resource/luxicon.ico -text
engine/resource/luxiconD.ico -text
engine/resource/resource.h eol=crlf
engine/scene/jsscene.cpp eol=crlf
engine/scene/jsscene.h eol=crlf
engine/scene/scene.cpp eol=crlf
engine/scene/scene.h eol=crlf
engine/scene/scenebsp.cpp eol=crlf
engine/scene/scenebsp.h eol=crlf
engine/scene/sceneportal.cpp eol=crlf
engine/scene/sceneportal.h eol=crlf
engine/scene/scenetree.cpp eol=crlf
engine/scene/scenetree.h eol=crlf
engine/script/jsscript.cpp eol=crlf
engine/script/jsscript.h eol=crlf
engine/script/script.cpp eol=crlf
engine/script/script.h eol=crlf
engine/settings/jssettings.cpp eol=crlf
engine/settings/jssettings.h eol=crlf
engine/settings/settings.cpp eol=crlf
engine/settings/settings.h eol=crlf
engine/shader/shader.cpp eol=crlf
engine/shader/shader.h eol=crlf
engine/shader/shadercache.cpp eol=crlf
engine/shader/shadercache.h eol=crlf
engine/shader/simpleshader/simpleshader.cpp eol=crlf
engine/shader/simpleshader/simpleshader.h eol=crlf
engine/shader/stdshader/pass.cpp eol=crlf
engine/shader/stdshader/pass.h eol=crlf
engine/shader/stdshader/shader.cpp eol=crlf
engine/shader/stdshader/shader.h eol=crlf
engine/skybox/jsskybox.cpp eol=crlf
engine/skybox/jsskybox.h eol=crlf
engine/skybox/skybox.cpp eol=crlf
engine/skybox/skybox.h eol=crlf
engine/texture/jstexture.cpp eol=crlf
engine/texture/jstexture.h eol=crlf
engine/texture/shader.cpp eol=crlf
engine/texture/shader.h eol=crlf
engine/texture/texture.cpp eol=crlf
engine/texture/texture.h eol=crlf
engine/texture/texturecache.cpp eol=crlf
engine/texture/texturecache.h eol=crlf
engine/timer/timer.cpp eol=crlf
engine/timer/timer.h eol=crlf
engine/vfs/diskfile.cpp eol=crlf
engine/vfs/diskfile.h eol=crlf
engine/vfs/diskpath.cpp eol=crlf
engine/vfs/diskpath.h eol=crlf
engine/vfs/file.cpp eol=crlf
engine/vfs/file.h eol=crlf
engine/vfs/jsvfs.cpp eol=crlf
engine/vfs/jsvfs.h eol=crlf
engine/vfs/path.cpp eol=crlf
engine/vfs/path.h eol=crlf
engine/vfs/vfs.cpp eol=crlf
engine/vfs/vfs.h eol=crlf
engine/vfs/zipfile.cpp eol=crlf
engine/vfs/zipfile.h eol=crlf
engine/vfs/zippath.cpp eol=crlf
engine/vfs/zippath.h eol=crlf
lib/buildnum.lib -text
lib/opcode/debug/Opcode.lib -text
lib/opcode/include/OPC_AABBCollider.h eol=crlf
lib/opcode/include/OPC_AABBTree.h eol=crlf
lib/opcode/include/OPC_BaseModel.h eol=crlf
lib/opcode/include/OPC_BoxBoxOverlap.h eol=crlf
lib/opcode/include/OPC_BoxPruning.h eol=crlf
lib/opcode/include/OPC_Collider.h eol=crlf
lib/opcode/include/OPC_Common.h eol=crlf
lib/opcode/include/OPC_HybridModel.h eol=crlf
lib/opcode/include/OPC_IceHook.h eol=crlf
lib/opcode/include/OPC_LSSAABBOverlap.h eol=crlf
lib/opcode/include/OPC_LSSCollider.h eol=crlf
lib/opcode/include/OPC_LSSTriOverlap.h eol=crlf
lib/opcode/include/OPC_MeshInterface.h eol=crlf
lib/opcode/include/OPC_Model.h eol=crlf
lib/opcode/include/OPC_OBBCollider.h eol=crlf
lib/opcode/include/OPC_OptimizedTree.h eol=crlf
lib/opcode/include/OPC_Picking.h eol=crlf
lib/opcode/include/OPC_PlanesAABBOverlap.h eol=crlf
lib/opcode/include/OPC_PlanesCollider.h eol=crlf
lib/opcode/include/OPC_PlanesTriOverlap.h eol=crlf
lib/opcode/include/OPC_RayAABBOverlap.h eol=crlf
lib/opcode/include/OPC_RayCollider.h eol=crlf
lib/opcode/include/OPC_RayTriOverlap.h eol=crlf
lib/opcode/include/OPC_Settings.h eol=crlf
lib/opcode/include/OPC_SphereAABBOverlap.h eol=crlf
lib/opcode/include/OPC_SphereCollider.h eol=crlf
lib/opcode/include/OPC_SphereTriOverlap.h eol=crlf
lib/opcode/include/OPC_SweepAndPrune.h eol=crlf
lib/opcode/include/OPC_TreeBuilders.h eol=crlf
lib/opcode/include/OPC_TreeCollider.h eol=crlf
lib/opcode/include/OPC_TriBoxOverlap.h eol=crlf
lib/opcode/include/OPC_TriTriOverlap.h eol=crlf
lib/opcode/include/OPC_VolumeCollider.h eol=crlf
lib/opcode/include/Opcode.h eol=crlf
lib/opcode/release/Opcode.lib -text
lib/tinyxml/tinystr.h eol=crlf
lib/tinyxml/tinyxml.h eol=crlf
lib/tinyxml/tinyxml.lib -text
lib/tinyxml/tinyxmld.lib -text
tools/buildnuminc.exe -text
tools/compile.rsp eol=crlf
tools/env.bat eol=crlf
tools/link.rsp eol=crlf
tools/maya_export/exportStatic.cpp eol=crlf
tools/maya_export/exportStatic.h eol=crlf
tools/maya_export/export_dialog.cpp eol=crlf
tools/maya_export/export_dialog.h eol=crlf
tools/maya_export/export_options.cpp eol=crlf
tools/maya_export/export_options.h eol=crlf
tools/maya_export/maya_export.cpp eol=crlf
tools/maya_export/maya_export.h eol=crlf
tools/maya_export/resource.h eol=crlf
tools/maya_export/resources.aps -text
tools/maya_export/resources.rc eol=crlf
tools/maya_export/scandag.cpp eol=crlf
tools/maya_export/scandag.h eol=crlf
tools/maya_export/stdafx.cpp eol=crlf
tools/maya_export/stdafx.h eol=crlf
tools/opt.rsp eol=crlf
vc7/client.vcproj eol=crlf
vc7/eXistenZ[!!-~]Engine.sln eol=crlf
vc7/maya_export.vcproj eol=crlf
vc8/client.vcproj eol=crlf
vc8/eXistenZ[!!-~]Engine.sln eol=crlf
vc8/maya_export.vcproj eol=crlf
