/*.ncb
bin/*.DPRul
bin/*.DPSup
bin/*.DPbcd
bin/*.NLB
bin/*.dll
bin/*.dpprf
bin/*.exe
bin/*.exp
bin/*.idb
bin/*.ilk
bin/*.lib
bin/*.mll
bin/*.obj
bin/*.pcc
bin/*.pch
bin/*.pdb
bin/*.png
bin/*.suo
bin/BuildLog.htm
bin/cooked
bin/engine_debug
bin/engine_release
bin/js32_debug
bin/js32_release
bin/maya_debug
bin/maya_release
data/*
data/textures/*
/eXistenZ[!!-~]Engine.ncb
vc9/*.JPG
vc9/*.bmp
vc9/*.dat
vc9/*.ncb
vc9/*.png
vc9/*.suo
vc9/*.vcproj.*
vc9/Debug
vc9/Release
vc9/debug
vc9/release
